#userDiv{
    margin-right: 5%;
    margin: 10px;
    height: 400px;
    width: auto;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
    padding: 20px;
    background: #05668D;
    
}

.flowNewsDiv{
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
    height: 800px;
    width: auto;
}

#trendingDiv {
    margin-right: 5%;
    margin: 10px;
    height: auto;
    width: auto;
    padding: 20px;
    background: #05668D;
    color: #05668D;
}
.card{
    background: #05668D;
    border: 1px solid white;
    padding: 5px;
}

div.card.horizontal.row{
     background: #05668D;
     color: white;
}

p{
    color: white;
}
div.card-title{
    color: white;
}

