#rightDiv{
    border: 2px solid black;
    margin: 20px;
    padding: 75px;
}

#leftDiv{
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}
/* div.card{
    padding: auto;
}


.row{
    float: left;
    display: flex;
}

.image-responsive{
    padding: 15px;
}

.card-title{
    padding-top: 10px;
} */
