div.row.card-panel{
    background: #05668D;
    color: white;
}
#userResultsDiv{
    background: white;
}
ul.tabs.tab-demo{
    background: #05668D;
    color: white
}
a.btn-flat{
    color: white;
}

span.card-title{
    color: white;
}
